In [2]:
#program to simple interest
p = int(input("\n Enter the principle Amount:"))
t = int(input("\n Enter the time period:"))
r = int(input("\n Enter the rate of interest:"))
si = p*t*r/100
print("\n Simple Interest:",si)

 Enter the principle Amount:2000

 Enter the time period:1

 Enter the rate of interest:4

 Simple Interest: 80.0

In [3]:
print('''This sentence is output to the screen''')
a=5
print("the value of a is:",a)
print('x:',1,2,3,4)
x=5
y=10
print('the value of x is {} and y is {}'.format(x,y))
print('I love {0} and {1}'.format('bread','butter'))
print('I love {1} and {0}'.format('bread','butter'))

This sentence is output to the screen
the value of a is: 5
x: 1 2 3 4
the value of x is 5 and y is 10
I love bread and butter
I love butter and bread

In [5]:
x =12.3456789
print('the value of x is %3.2f' %x)
print('the value of x is %3.4f' %x)

the value of x is 12.35
the value of x is 12.3457

In [6]:
for x in range(1,11):
    print('{0:2d} {1:3d} {2:4d}'.format(x, x*x, x*x*x))

 1   1    1
 2   4    8
 3   9   27
 4  16   64
 5  25  125
 6  36  216
 7  49  343
 8  64  512
 9  81  729
10 100 1000

In [7]:
table = {'Raju':9822991839, 'Ravi':8762486478, 'Rahul':9847726488}
for name, phone in table.items():
    print('{0:10} ==> {1:10d}'.format(name,phone))

Raju       ==> 9822991839
Ravi       ==> 8762486478
Rahul      ==> 9847726488

In [8]:
import math
print('the value of PI is approximately %5.3f.'%math.pi)

the value of PI is approximately 3.142.

In [9]:
x = input("enter a string:")
print("the entered string is:{0}".format(x))
y = int(input("enter a integer:"))
print("the entered integer is:",y)
z = float(input('enter a floating point number:'))
print("the entered real number is:",z)

enter a string:Mangalore Institute of Technology and Engineering
the entered string is:Mangalore Institute of Technology and Engineering
enter a integer:53
the entered integer is: 53
enter a floating point number:48.34
the entered real number is: 48.34

In [11]:
x = ('1' + '2' + '3' + '4')
y = '1' + '2' + '11' + '12'
weekdays = ['Monday','Tuesday','Wednesday','Thursday','Friday']
weekday = {'one':'Monday'}
print("x has a value of",x)
print("y has a value of",y)
print(weekdays)
print(weekday)

x has a value of 1234
y has a value of 121112
['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']
{'one': 'Monday'}

In [12]:
import os
x = 'Hello'
print(x)

Hello

In [13]:
var = -1
if var < 0:
    print(var)
    print("the value of var is negative")
if (var == -1):
    print("the value of var is negative")

-1
the value of var is negative
the value of var is negative

In [14]:
var = 1
if var < 0:
    print("the value of var is negative")
    print(var)
else:
    print("the value of var is positive")
    print(var)

the value of var is positive
1

In [16]:
score = 95
if score >= 99:
    print('A')
elif score >=75:
    print('B')
elif score >= 60:
    print('C')
elif score >= 35:
    print('D')
else:
    print('F')

B

In [17]:
print("first example")
for item in [1,2,3,4,5]:
    print('item:', item)

print("second example")
letters = ['A', 'B', 'C']
for index in range(len(letters)):
    print('First loop letter:',letters[index])

first example
item: 1
item: 2
item: 3
item: 4
item: 5
second example
First loop letter: A
First loop letter: B
First loop letter: C

In [18]:
count = 0
while (count < 3):
    print('The count is:', count)
    count = count+1

The count is: 0
The count is: 1
The count is: 2

In [19]:
list_1 = ['Maths','programming',2016,2017,2018]
list_2 = ['a', 'b', 1, 2, 3, 4, 5, 6, 7]
print("list_1[0]:",list_1[0])
print("list_2[1:5]:",list_2[1:5])

list_1[0]: Maths
list_2[1:5]: ['b', 1, 2, 3]

In [20]:
print("list_1 values:",list_1)
list_1.append(2019)
print("list_1 values post append:",list_1)

list_1 values: ['Maths', 'programming', 2016, 2017, 2018]
list_1 values post append: ['Maths', 'programming', 2016, 2017, 2018, 2019]

In [21]:
print("values of list_1:",list_1)
print("index 2 value:",list_1[2])
list_1[2] = 2015;
print("Index 2's new value :",list_1[2])

values of list_1: ['Maths', 'programming', 2016, 2017, 2018, 2019]
index 2 value: 2016
Index 2's new value : 2015

In [23]:
print("list_1 values:",list_1)
del list_1[5]
print("after deleting value at index 2:",list_1)

list_1 values: ['Maths', 'programming', 2015, 2017, 2018, 2019]
after deleting value at index 2: ['Maths', 'programming', 2015, 2017, 2018]

In [31]:
#Basic operation
import string
import operator

print("Length:",len(list_1))
print("Concatenation:",[1,2,3]+[4,5,6])
print("Repetition:",['hello']*4)
print("membership:",3 in [1,2,3])
print("iteration:")
for x in [1,2,3]:print(x)
print("slicing:",list_1[-2])
print("slicing range:",list_1[1:])
print("max of list:",max([1,2,3,4,5]))
print("min of list:",min([1,2,3,4,5]))
print("Count number of 1 in list:",[1,1,2,3,4,5].count(1))
list_1.extend(list_2)
print("Extended:",list_1)
print("index for a:",list_1.index('a'))
print(list_1)
print('pop last item in list:',list_1.pop())
print(list_1)
print("pop last item with index 2:",list_1.pop(2))
list_1.remove('b')
print("removed b from list:",list_1)
list_1.reverse()
print("reverse:",list_1)
list_1 = ['a','c','b']
list_1.sort()
print("sort ascending:",list_1)
list_1.sort(reverse = True)
print("Sort descending:",list_1)

Length: 3
Concatenation: [1, 2, 3, 4, 5, 6]
Repetition: ['hello', 'hello', 'hello', 'hello']
membership: True
iteration:
1
2
3
slicing: b
slicing range: ['b', 'c']
max of list: 5
min of list: 1
Count number of 1 in list: 2
Extended: ['a', 'b', 'c', 'a', 'b', 1, 2, 3, 4, 5, 6, 7]
index for a: 0
['a', 'b', 'c', 'a', 'b', 1, 2, 3, 4, 5, 6, 7]
pop last item in list: 7
['a', 'b', 'c', 'a', 'b', 1, 2, 3, 4, 5, 6]
pop last item with index 2: c
removed b from list: ['a', 'a', 'b', 1, 2, 3, 4, 5, 6]
reverse: [6, 5, 4, 3, 2, 1, 'b', 'a', 'a']
sort ascending: ['a', 'b', 'c']
Sort descending: ['c', 'b', 'a']

In [32]:
# tuples
Tuple = ()
print("Empty Tuple:",Tuple)
Tuple = (1,)
print("Tuple with single item:",Tuple)
Tuple = ('a','b','c','d',1,2,3)
print("sample Tuple:",Tuple)

Empty Tuple: ()
Tuple with single item: (1,)
sample Tuple: ('a', 'b', 'c', 'd', 1, 2, 3)

In [33]:
# accessing items from tuple
Tuple = ('a', 'b', 'c', 'd',1,2,3)
print("3rd item of Tuple:",Tuple[2])
print("First 3 items of tuple", Tuple[0:2])

3rd item of Tuple: c
First 3 items of tuple ('a', 'b')

In [34]:
# deleting tuple
print("sample tuple:",Tuple)
del Tuple
print(Tuple)

sample tuple: ('a', 'b', 'c', 'd', 1, 2, 3)

NameError: name 'Tuple' is not defined

In [36]:
Tuple = ('a', 'b', 'c', 'd',1,2,3)
print("length of Tuple:",len(Tuple))
Tuple_Concat = Tuple + (7,8,9)
print("Concatinated Tuple:" , Tuple_Concat)

print("Repetation:", (1,'a',2,'b')*3)
print("Membership check:", 3 in (1,2,3))

for x in (1,2,3): print(x)
print("negative sign will retrieve item from right:", Tuple_Concat[-2])
print("Sliced Tuple [2:]", Tuple_Concat[2:])
print("Max of the tuple (1,2,3,4,5,6,7,8,9,10):",max(1,2,3,4,5,6,7,8,9,10))
print("Min of the tuple (1,2,3,4,5,6,7,8,9,10):",min(1,2,3,4,5,6,7,8,9,10))
print("List [1,2,3,4] converted to tuple:", type(tuple([1,2,3,4])))

length of Tuple: 7
Concatinated Tuple: ('a', 'b', 'c', 'd', 1, 2, 3, 7, 8, 9)
Repetation: (1, 'a', 2, 'b', 1, 'a', 2, 'b', 1, 'a', 2, 'b')
Membership check: True
1
2
3
negative sign will retrieve item from right: 8
Sliced Tuple [2:] ('c', 'd', 1, 2, 3, 7, 8, 9)
Max of the tuple (1,2,3,4,5,6,7,8,9,10): 10
Min of the tuple (1,2,3,4,5,6,7,8,9,10): 1
List [1,2,3,4] converted to tuple: <class 'tuple'>

In [37]:
#Dictionary
dict = {'Name':'Jivin', 'Age':6, 'Class':'First'}
print("sample dictionary:",dict)

sample dictionary: {'Name': 'Jivin', 'Age': 6, 'Class': 'First'}

In [38]:
print("value of key name, from sample dictionary:",dict['Name'])

value of key name, from sample dictionary: Jivin

In [39]:
dict0 = {'Name': 'Jivin','Age':6,'Class':"First"}
print("sample dictionary:",dict0)
k=1
for i in dict0:
    print(k,i,dict[i])
    k=k+1
del (dict0['Name'])
print("sample dictionary post deletion of items Name:",dict0)
dict0 = {'Name':'Jivin','Age':6,'Class':'First'}
dict0.clear()
print("dict post dict.clear():",dict0)
dict = {'Name':'Jivin','Age':6,'Class':'First'}
del(dict0)

sample dictionary: {'Name': 'Jivin', 'Age': 6, 'Class': 'First'}
1 Name Jivin
2 Age 6
3 Class First
sample dictionary post deletion of items Name: {'Age': 6, 'Class': 'First'}
dict post dict.clear(): {}

In [40]:
#update
dict = {'Name': 'Jivin','Age':6,'Class':"First"}
print("Sample dictionary:",dict)
dict['Age'] = 6.5
print("Dictionary post age value update:",dict)

Sample dictionary: {'Name': 'Jivin', 'Age': 6, 'Class': 'First'}
Dictionary post age value update: {'Name': 'Jivin', 'Age': 6.5, 'Class': 'First'}

In [41]:
dict = {'Name': 'Jivin','Age':6,'Class':"First"}
print("Length of dict:", len(dict))

dict1 = dict.copy()
print("Copy:\n",dict1)

print("Value for Age:", dict.get('Age'))

print("dict items:",dict.items())

print("dict keys:",dict.keys())

print("Value od dict:",dict.values())

dict1 = {'Name': 'Jivin', 'Age': 6}
dict2 = {'Sex': 'male' }
dict1.update(dict2)
print("dict1.update(dict2) = ", dict1)

Length of dict: 3
Copy:
 {'Name': 'Jivin', 'Age': 6, 'Class': 'First'}
Value for Age: 6
dict items: dict_items([('Name', 'Jivin'), ('Age', 6), ('Class', 'First')])
dict keys: dict_keys(['Name', 'Age', 'Class'])
Value od dict: dict_values(['Jivin', 6, 'First'])
dict1.update(dict2) =  {'Name': 'Jivin', 'Age': 6, 'Sex': 'male'}

In [42]:
def someFunction():
    print("Hello World")
someFunction()

Hello World

In [44]:
def sum_two_numbers(x, y):
        return x + y
print(sum_two_numbers(3,4))

7

In [45]:
x=10
def sum_two_numbers(y):
    return x+y
print(sum_two_numbers(10))

20

In [46]:
def sample_function(*args):
    for a in args:
        print(a)
sample_function(1,2,3)

1
2
3

In [51]:
def sample_function(**args):
    for a in args:
        print(a,args[a])
        
sample_function(Name='Aishwarya',Age=20)

Name Aishwarya
Age 20

In [52]:
def add(x, y): 
    return x + y
print("FUNCTION ADD:\n",add(3,2))

add = lambda x, y : x + y 
print("LAMBDA ADD :\n",add(3,2))

FUNCTION ADD:
 5
LAMBDA ADD :
 5